.button-custom {
  padding: 0.5rem 1rem;
  border: 0.0625rem solid rgb(105, 105, 105);
  border-radius: 0.5rem;
  background-color: white;
  color: rgb(105, 105, 105);
  font-size: 1rem;
  cursor: pointer;
}
