.main-container {
  /* border-radius: 0.5rem 0 0.5rem 0.5rem; */
  /*   padding: 2.5rem; */
  background-color: white;
  padding: 0.5rem;
}

/* @media screen and (max-width: 62rem) {
  .main-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: pink;
  }
} */

.main-container-top {
  width: 100%;
  min-height: 40vh;
}

.main-container-bottom {
  width: 100%;
  min-height: 100vh;
  transition: all 0.2s ease-in-out;
  border-radius: 0.75rem;
  background-color: rgb(227, 235, 246);
}

.main-container-bottom:hover {
  /*  transform: scale(101%); */
  background: #b7c7e455;
  box-shadow: rgba(17, 12, 46, 0.15) 0rem 3rem 6.25rem 0rem;
}
